/* Estilos para el contenedor principal */
.contenedor {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center;     /* Centra el contenido verticalmente */
  height: 100vh;           /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

.seccion_formulario {
  width: 100%;
  max-width: 500px; /* Establece un ancho máximo para que no se expanda demasiado */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input_contraseña {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;  /* Añade un pequeño margen */
}

.input_contraseña input {
  width: 85%; /* Ajusta el ancho para que el botón no esté demasiado pegado */
}

.input_contraseña button {
  width: 13%;  /* Define un ancho para el botón */
  padding: 10px;
  background-color: #72BAA9; /* Puedes ajustar el color si lo prefieres */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;  /* Agrega un margen al botón para que no quede tan pegado */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #474E93;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:disabled {
  background-color: #7E5CAD;
}

p {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #474E93;
}


