/* Estilos para el contenedor principal */
.contenedor {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  height: 100vh;
  width: 100vw;
}

.seccion_formulario {
  width: 100%;
  max-width: 500px; /* Establece un ancho m치ximo para que no se expanda demasiado */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input_contrase침a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0; /* A침ade un peque침o margen */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #474e93;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:disabled {
  background-color: #7e5cad;
}

p {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #474e93;
}
